$primary-normal: #031017;
$primary-dark: #040f1a;
$primary-ligth: #0c2135;



$black-normal: #232224aa;
$black-dark: #161617;
$black-ligth: #353436;

$white-normal:#ffffff;
$whiite-dark: #edeaef;
$white-ligth: #fefbff;

$red-normal: #D94140aa;
$red-dark: #b42b2b;
$red-ligth: #d34040;
