header//

@media screen and (max-width: 768px) {

    .header-content{
       
       width: 100%;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       
       

       i{
           margin-top: 24px;
           font-size: 36px;
           
       }
    }

   .header-logo img {

       width: 600px;
       
       
   }
   .header-button {
   
       visibility: hidden;
       
       
   }
   
}
layout//

@media screen and (max-width: 768px){
    .hero{
      min-height: 50vw;
  
      h1{
        font-size: 34px;
        padding: 0 14px;
        width: 100%;
      
      }
  
      p{
        font-size: 12px;
        
      }
      
      
    }
  }
  
  @media screen and (max-width: 480px){
    .hero h1{
      font-size: 24px;
    }
  }

  @media screen and (max-width: 768px) {
    .about-content{
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    .haircuts{
      flex-direction: column;
    }
  
    .haircut img{
      max-width: 740px;
    }
  
  }

  @media screen and (max-width: 768px){
    .btn-whatsapp{
      img{
        max-width: 64px;
      }
    }
  }
